<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/">E-waste Management Portal</span>
  <span class="example-spacer"></span>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button> -->
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
  <div >
    <button class="signin mx-4" mat-raised-button color="primary" routerLink="/signin">Sign In</button>
    <button class="signup" mat-raised-button color="warn" routerLink="/signup">Sign up</button>
  </div>
</mat-toolbar>
