<div class="container">
  <mat-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
      <form [formGroup]="userFormGroup">
        <ng-template matStepLabel>Full Name</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="First name Last name" formControlName="userName" required>
          <div class="text-danger" style="font-size: 0.75rem;" *ngIf="!(userFormGroup.get('userName')?.valid || userFormGroup.get('userName')?.untouched)">
            Enter only Valid alphabates no special charaters allowed
          </div>
        </mat-form-field>
        <div>
          <!-- <p>Go to a different step to see the error state</p> -->
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" errorMessage="Contact deatils are required.">
      <form [formGroup]="userFormGroup">
        <ng-template matStepLabel>Contact details</ng-template>
        <mat-form-field appearance="fill" class="mx-4">
          <mat-label>Email</mat-label>
          <input matInput placeholder="example@abc.com" formControlName="email" required >
          <div class="text-danger" style="font-size: 0.75rem;" *ngIf="!(userFormGroup.get('email')?.valid ||userFormGroup.get('email')?.untouched)">
            Enter valid email
          </div>
        </mat-form-field>



        <mat-form-field appearance="fill" class="mx-4">
          <mat-label>Mobile number</mat-label>
          <input matInput type="number" placeholder="9731433009" formControlName="mobile" required >
          <div class="text-danger" style="font-size: 0.75rem;" *ngIf="!(userFormGroup.get('mobile')?.valid ||userFormGroup.get('mobile')?.untouched )">
            Enter valid Mobile Number
          </div>
        </mat-form-field>
        <div>
          <!-- <p>Go to a different step to see the error state</p> -->
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>


    <mat-step [stepControl]="thirdFormGroup" errorMessage="Address is required.">
      <form [formGroup]="userFormGroup">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="address"
                 required>
        </mat-form-field>
        <div>
          <!-- <p>Go to a different step to see the error state</p> -->
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form [formGroup]="userFormGroup">
        <ng-template matStepLabel>Confirmation</ng-template>

        <mat-form-field appearance="fill" >
          <mat-label>Set your Password</mat-label>
          <input type="password" matInput placeholder="Hu%f7nI" formControlName="password" required >
          <!-- <div class="text-danger" style="font-size: 0.75rem;" *ngIf="!(secondFormGroup.get('secondCtrl3')?.valid ||secondFormGroup.get('secondCtrl3')?.untouched)">
            Enter valid Password
          </div> -->
        </mat-form-field>

        <p>Are you ready to Sign up?</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
          <button mat-button (click)="signup()">Sign Up</button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>
