<form class="sellerForm" [formGroup]="sellerForm">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Device Type</mat-label>
      <mat-select formControlName="deviceType">
        <mat-option value="laptop">Laptop</mat-option>
        <mat-option value="desktop">Desktop</mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Manufracturer</mat-label>
      <input matInput placeholder="Dell, HP..">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Manufracturer</mat-label>
      <input matInput placeholder="Dell, HP..">
    </mat-form-field>
  </p>
</form>
